@use "styles/variables" as *;
@use "styles/mixins" as *;

.loader {

  animation: rotate 1s linear infinite;
  transform-origin: center center;

  &-s {
    @include size($space-xl, $space-xl);
  }

  &-m {
    @include size(48px, 48px);
  }

  &-l,
  &-undefined {
    @include size(60px, 60px);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg); 
  }
}