@use "styles/variables" as *;

.contributor {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  align-items: center;
  text-align: center;
  cursor: pointer; 

  > :nth-child(1) {
    margin-right: $space-xxs;
  }

  > :nth-child(2) {
    margin-right: 4px;
  }

  &:hover {
    > :nth-child(2) {
      text-decoration: underline; 
      text-underline-offset: 4px; 
    }
  }
}

.contributor_img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}
