@use "styles/variables" as *;
@use "styles/mixins" as *;


.list_repo_block {
  background-color: $bg-color;

  .header_block {
    margin-bottom: 30px;
  }

  .repo_block {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-auto-rows: 506px;
    row-gap: 80px;
    justify-content: space-between;
    @include size(100%);
    margin-bottom: 40px;
  }

  .title_block {
    text-align: center;
    margin-bottom: 58px;
  }

  .search_block {
    display: flex;
    gap: 19px;
    @include size(100%);
    margin-bottom: 36px;

    &_input {
      flex: 1;
    }
  }

  .dropdown_block {
    margin-bottom: 20px;
    @include size(300px, 52px);
  }

  .pagination_block {
    padding-bottom: 22px;
    box-sizing: border-box;
  }
}
