@use "styles/variables" as *;
@use "styles/mixins" as *;

.multidropdown {
  @include size(100%);
  position: relative;
  display: inline-block;

  .option {
    margin-top: $space-xxs;
    @include size(100%);
    padding: 0;
    background-color: transparent;
    right: 0;
    overflow-y: auto;
    box-shadow: $card-shadow;

    .text {
      padding: $space-s $space-xs;
      background-color: $white;
      cursor: pointer;

      &.selected {
        color: $text-accent;
      }

      &:hover {
        color: $text-secondary;
      }
    }
  }

  #dropdown_input:disabled {
    pointer-events: none;
  }
}
