@use "styles/variables" as *;
@use "styles/mixins" as *;

.multidropdown {
  @include size(100%);
  position: relative;
  display: inline-block;
}

.option {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: $space-xxs;
  max-height: 300px;
  padding: 0;
  background-color: $white;
  border-radius: $border-radius;
  box-shadow: $card-shadow;
  z-index: 1000;
  overflow-y: auto;
  list-style: none;
}

.textOption {
  display: block;
  padding: $space-s $space-xs;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    color: $text-secondary;
  }
}

.selected {
  color: $text-accent;
}

.disabledInput {
  pointer-events: none;
}
